* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  font-size: 16px;
  font-family: "Xanh Mono", monospace;
  --text-primary: #b6b6b6;
  --text-secondary: #cecece;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-delay: 600ms;
}

svg {
  color: aqua;
}

body {
  background: white;
  color: black;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(136, 14, 35);
}

.navbar {
  background-color: var(--bg-primary);
  position: fixed;
  transition: width var(--transition-delay) ease;
}

.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  width: 2rem;
  transition: var(--transition-delay) ease;
}

.logo-text {
  transition: var(--transition-delay);
  position: absolute;
  display: inline;
  left: -999px;
  letter-spacing: 0.3ch;
  font-weight: bold;
  font-size: 18px;
  color: var(--text-secondary);
}

.navbar:hover .logo-text {
  left: 2rem;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link {
  display: flex;
  text-decoration: none;
  align-items: center;
  filter: grayscale(100%) opacity(1);
}

.nav-link svg {
  width: 2rem;
  margin: 0 1rem;
  min-width: 2rem;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
  margin-left: 11rem;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background-color: var(--bg-secondary);
}

@media only screen and (min-width: 600px) {
  .navbar {
    width: 4rem;
    top: 0;
    height: 100vh;
  }
  .navbar-nav {
    flex-direction: column;
  }
  .navbar:hover {
    width: 14rem;
  }

  .nav-link {
    height: 5rem;
  }

  .navbar:hover .link-text {
    display: inline;
    color: var(--text-secondary);
  }

  .content {
    margin: 0 0 0 5rem;
    padding: 1rem 0 0 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    width: 100vw;
    top: 0;
    height: 3.5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }
  .nav-link {
    height: 100%;
    justify-content: center;
  }
  .nav-item {
    height: 100%;
  }
  .content {
    margin: 3.5rem 0 0 0;
    padding: 0;
  }
  #test {
    padding-top: 3.5rem;
    margin-top: -3.5rem;
  }
}
